%div{:class => "pricing #{location}"}
  - @item.prices.each do |price|
    %div{:class => "#{price.price_type}_price"}
      %span.label= "#{price.price_type.to_s.capitalize} Price:"
      %span.price= price.amount
  .buy= link_to 'Buy', cart_add_path(@item)