.summary
  %span.title= link_to_unless_current item.title, item_url(item)
  %span.edition= "(#{[item.binding, item.edition].compact.join(', ')})"
  .authors= "by #{item.authors.to_sentence}" unless item.authors.nil?
