#messages
  #search_message= @results.message
  #results_count= "Found #{pluralize(@results.total_results, 'item')}"
  #results_pages= @results.page_info
#items
  = render :partial => 'item', :collection => @results.items
#page_nav
  #prev
    = link_to('<<', search_path(:search => @results.search_index,                               |
                                :keywords => @results.keywords,                                 |
                                :page => (@results.page.to_i - 1))) unless @results.first_page? |
  #next
    = link_to('>>', search_path(:search => @results.search_index,                              |
                                :keywords => @results.keywords,                                |
                                :page => (@results.page.to_i + 1))) unless @results.last_page? |
