#messages
  #search_message= @results.message
  #results_count= "Found #{pluralize_with_delimiter(@results.total_results, 'item')}"
  #results_pages= @results.page_info
  .clear &nbsp;
#items
  = render :partial => 'item', :collection => @results.items
#page_nav
  #prev
    = @results.first_page? ? "&nbsp;" : link_to('<<', previous_page_of(@results))
  #next
    = @results.last_page? ? "&nbsp;" : link_to('>>', next_page_of(@results))
  