#item
  = render :partial => @item.summary_partial, :locals => {:item => @item}
  = render :partial => 'image' unless @item.image.nil?
  = render :partial => 'pricing', :locals => {:location => 'top'}
  #rating_and_rank
    #rating
      #stars
        = @item.average_rating
      .count= "(#{pluralize_with_delimiter(@item.number_of_reviews, 'customer review') })" unless @item.number_of_reviews.nil?
    #rank
      %span.label Amazon Sales Rank:
      %span.rank= "#{number_with_delimiter(@item.sales_rank)} in #{@item.rank_group}"
  = render :partial => @item.other_details_partial, :locals => {:item => @item}
  - unless @item.editorial_reviews.nil?
    .reviews
      = render :partial => 'editorial_review', :collection =>  @item.editorial_reviews
    = render :partial => 'pricing', :locals => {:location => 'bottom'}
  - unless @item.detail_page_url.nil?
    .at_amazon= link_to "View this at Amazon.com", @item.detail_page_url

- content_for :disclaimer do
  #disclaimer
    %a{:name => 'disclaimer'}= AmazonAWS::DISCLAIMER
