#item
  = render :partial => 'summary', :locals => {:item => @item}
  = render :partial => 'pricing', :locals => {:location => 'top'}
  #rating_and_rank
    #rating
      #stars
        = "#{@item.average_rating} out of 5 stars"
      .count= "(#{pluralize_with_delimiter(@item.number_of_reviews, 'customer review') })" unless @item.number_of_reviews.nil?
    #rank
      %span.label Amazon Sales Rank:
      %span.rank= number_with_delimiter @item.sales_rank
  = render :partial => 'image' unless @item.image.nil?
  = render :partial => 'description' unless @item.description.nil?
  = render :partial => 'pricing', :locals => {:location => 'bottom'} unless @item.description.nil?
#disclaimer
  %a{:name => 'disclaimer'} 
  %em=AmazonAWS::DISCLAIMER