.cart_item
  .title
    %span= link_to item.title, show_path(item.asin)
    %span.quantity= quantity_text(item)
  .amount= item.item_total[:formatted]
  .clear &nbsp;
  .actions
    = link_to(image_tag('add.png', :alt => '+1', :title => '+1'), cart_update_path(item.cart_item_id, item.quantity.to_i + 1))
    &nbsp;
    - unless item.quantity == '1'      
      = link_to(image_tag('delete.png', :alt => '&ndash;1', :title => '&ndash;1'), cart_update_path(item.cart_item_id, item.quantity.to_i - 1))
      &nbsp;
    = link_to(image_tag('cross.png', :alt => 'remove', :title => 'remove'), cart_update_path(item.cart_item_id, '0'))
  &nbsp;