.cart_header
  .message
    Your Amazon.com Cart
  .actions
    = link_to 'Checkout', @cart.purchase_url
    |
    = link_to 'Shop', :anchor => 'search_form'
  &nbsp;
= render :partial => 'item', :collection => @cart.items
.cart_subtotal
  %span.subtotal Cart Subtotal:
  %span.amount= @cart.subtotal[:formatted]
.clear &nbsp;
.cart_actions
  = link_to 'Checkout', @cart.purchase_url
  |
  = link_to 'Empty Cart', cart_clear_path
