<h1>New item</h1>

<%= error_messages_for :item %>

<% form_for(@item) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Asin</b><br />
    <%= f.text_field :asin %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', items_path %>
