!!! 1.1
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}/
    %meta{:name => 'HandheldFriendly', :content => 'True'}/
    %title amaz.infews
    = stylesheet_link_tag 'application'
  %body
    #logo{:align => 'center'}
      = link_to image_tag('header_amaz.gif', :alt => 'amaz.infews'), :controller => 'search'
    = yield
    #search_form
      %a{:name => '#search_form'}
      - form_tag({:controller => 'item', :action => 'search'}, :method => 'POST') do
        #text_label
          Search for
        #text_field
          = text_field_tag(:keywords, session[:last_search_keywords], {:size => '10'}) 
        #type_label
          in
        #type_field
          = select_tag(:search, options_for_select(ItemController.search_types, session[:last_search])) 
        #float_clear
        .submit_button
          = submit_tag('Go')
    #powered
      powered by    
      = image_tag('footer_infews.gif', :align => 'right')
    