!!! 1.1
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    %meta{:name => 'HandheldFriendly', :content => 'True'}/
    %meta{:name => 'viewport', :content => 'width=320'}/
    %title amaz.infews
    = stylesheet_link_tag current_style_sheet
  %body
    #logo
      =# link_to image_tag('header_amaz.gif', :alt => 'amaz.infews'), :controller => 'search'
      = image_tag('header_amaz.gif', :alt => 'amaz.infews')
    = yield
    .clear &nbsp;
    %a{:name => '#search_form'}
    - form_tag('/item/search', :class => 'search_form') do
      %table#search
        %tr
          %td#text_label Search for
          %td#text_field= text_field_tag(:keywords, @previous_keywords, {:size => '10'}) 
        %tr
          %td#type_label in
          %td#type_field= select_tag(:search_index, options_for_select(ItemController.search_types, @previous_search_index))         
      = submit_tag('Go', :id => 'go')
    #powered
      powered by    
      = image_tag('footer_infews.gif', :align => 'right')