!!! 1.1
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}/
    %meta{:name => 'HandheldFriendly', :content => 'True'}/
    %meta{:name => 'viewport', :content => 'width=320'}/
    %title amaz.infews
    = stylesheet_link_tag current_style_sheet
  %body
    #logo
      =# link_to image_tag('header_amaz.gif', :alt => 'amaz.infews'), :controller => 'search'
      = image_tag('header_amaz.gif', :alt => 'amaz.infews')
    = yield
    .clear &nbsp;
    %a{:name => '#search_form'}
    #form_wrapper
      - form_tag('/item/search') do
        .text_wrapper
          #text_label
            %label Search for
          #text_field= text_field_tag(:keywords, @previous_keywords, {:size => '10'}) 
        /.clear &nbsp;
        .type_wrapper 
          #type_label
            %label in          
          #type_field= select_tag(:search_index, options_for_select(ItemController.search_types, @previous_search_index))         
        = submit_tag('Go', :id => 'go')
    .clear &nbsp;
    #powered
      powered by    
      = image_tag('footer_infews.gif', :align => 'right')